*{
    margin: 0;
    padding: 0;
    border: 0;
}
h1{
    text-decoration: underline;
}
.top{
    padding: 50px;
    border: 1px solid black;
    margin: 20px;
}
.second{
    /* padding: 50px;     */
    margin: 20px;
}
ol{
    padding: 18px;
}